h1 {
  font-family: "Georgia", serif;
  color: blue;
  text-align: center; 
}

h3 {
  font-family: "Georgia", serif;
  color: darkgreen;
  text-align: center;
}

h4 {
  font-family: "Georgia", serif;
  text-align: center;
}
