head {
  text-align: center;
}

h1 {
  font-family: "Georgia", serif;
  color: darkgreen;
  text-align: center;
}

h2 {
  text-align: center;
  color: darkgreen;
}  

h3 {
  font-family: "Georgia", serif;
  color: darkgreen;
  text-align: center;
}

h4 {
  font-family: "Georgia", serif;
  color: darkgreen;
}
